<app-header></app-header>
<div class="content-container">
  <div class="product-content">
    <h1>XIX ORIGINAL</h1>
    <p>XIX Vodka is a quintessential straight vodka with a stand-alone commitment to being clean, natural, and for the culture. XIX Vodka is made from premium wheat and distilled multiple times until impeccable purity. Finely balanced with soft water from the Scottish highlands, then slowly filtered to deliver a truly exceptional taste and finish.

      <br><br>40% VOL. 70cl.</p>
    <app-buy></app-buy>
  </div>
  <div class="product-template">
    <img src="//cdn.shopify.com/s/files/1/0590/2594/8824/products/ezgif.com-gif-maker_5.gif?v=1670598044" alt="product_img">
  </div>
</div>
