.content-container {
  margin-top: 10%;
  overflow: hidden;
  display: flex;
}
.product-content {
  float: left;
  margin-left: 10%;
  padding-right: 5%;
}
.product-template {
  float: right;
  padding-right: 10%;
}
