/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
html {background-color: black}

html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", "Helvetica Neue", sans-serif; color: #FFF}
body { background-color: #000}
p {font-size: 24pt; line-height:24pt}
h1 {
  font-family: "Montserrat" !important;
  font-size: 48pt !important;
  font-weight: bolder !important;
  line-height: 48pt !important;
}
h2 {
  font-family: "Montserrat" !important;
  font-size: 28pt !important;
  font-weight: bolder !important;
  line-height: 28pt !important;
  color: white;
}
h3 {
  font-family: "Montserrat" !important;
  font-size: 24pt !important;
  line-height: 24pt !important;
}
h4 {
  font-family: "Montserrat" !important;
  font-size:  16pt !important;
  line-height: 16pt !important;
  color: white;
}
h6 {
  font-size: 16pt !important;
  line-height: 16pt !important;
}
.mat-toolbar {
  background-color: black !important;
}
mat-dialog-container {
  background-color: transparent !important;
  padding: 25px 25px 25px 25px !important;
  overflow: hidden !important;
  border:3px solid white !important;
  height: fit-content !important;
  width: 100% !important;
  top: 50% !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
}
