/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
html {background-color: black}

html, body { height: 100%; }
body { margin: 0; font-family: "FormularBold", "Helvetica Neue", sans-serif; color: #FFF}
body { background-color: #000}
p {font-size: 24pt; line-height:24pt}
h1 {
  font-family: "FormularBold" !important;
  font-size: 48pt !important;
  font-weight: bolder !important;
  line-height: 48pt !important;
}
h3 {
  font-family: "FormularBold" !important;
  font-size: 24pt !important;
  line-height: 24pt !important;
}
h6 {
  font-size: 16pt !important;
  line-height: 16pt !important;
}
.mat-toolbar {
  background-color: black !important;
}
