<app-header></app-header>
<div class="content-container">
  <div class="image-container" [ngStyle]="{'background-image': 'url(' + webURL + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
  </div>
  <div class="left">
    <h1>XIX Original Vodka</h1>
    <p>XIX Vodka is distilled multiple times until optimal purity is reached. Balanced with soft demineralised water and slowly filtered for an unparalleled finish and flavour.

      70cl bottle 40% VOL</p>
  </div>

  <div class="right">
    <h1>100% Natural and Clean</h1>
    <p>The finest wheat is combined with soft water straight from the Scottish Highlands to produce a natural and clean flavour that redefines the heritage of UK spirits. Smooth and pure. The smooth edge that accompanies smooth taste.
    </p>
  </div>

  <div class="right">
    <h1>The Design</h1>
    <p>The sleek design of our unconventionally-black bottle intentionally stands out from its peers. From the exclusive parties to the elite nightclubs, you will always see us. XIX is here to stay, no more games. </p>
  </div>

  <div class="right">
    <h1>Bottled in the UK</h1>
    <p>Home has always been at the centre of XIX’s identity. Conceived in the UK. Produced in the UK. Bottled in the UK. Embracing the new British heritage.
    </p>
  </div>
  <div class="barrier"> <!-- TODO add footer instead -->
    <p>hello</p>
  </div>
</div>
